<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silvercommunity.system.mapper.RoomMapper">
    
    <resultMap type="Room" id="RoomResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="sort"    column="sort"    />
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
        <result property="floorId"    column="floor_id"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRoomVo">
        select id, code, sort, type_id, type_name, floor_id, remark, is_deleted, create_by, update_by, create_time, update_time from base_room
    </sql>

    <select id="selectRoomList" parameterType="Room" resultMap="RoomResult">
        <include refid="selectRoomVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="typeId != null "> and type_id = #{typeId}</if>
            <if test="floorId != null "> and floor_id = #{floorId}</if>
        </where>
    </select>
    
    <select id="selectRoomById" parameterType="Long" resultMap="RoomResult">
        <include refid="selectRoomVo"/>
        where id = #{id}
    </select>

    <insert id="insertRoom" parameterType="Room" useGeneratedKeys="true" keyProperty="id">
        insert into base_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="sort != null">sort,</if>
            <if test="typeId != null">type_id,</if>
            <if test="typeName != null">type_name,</if>
            <if test="floorId != null">floor_id,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="sort != null">#{sort},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="floorId != null">#{floorId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRoom" parameterType="Room">
        update base_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="floorId != null">floor_id = #{floorId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRoomById" parameterType="Long">
        delete from base_room where id = #{id}
    </delete>

    <delete id="deleteRoomByIds" parameterType="String">
        delete from base_room where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="BaseResultMap" type="RoomVo">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sort" property="sort"/>
        <result column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
        <result column="floor_id" property="floorId"/>

        <collection property="bedVoList" ofType="BedVo">
            <result column="bed_id" property="id"/>
            <result column="bed_number" property="bedNumber"/>
            <result column="bed_status" property="bedStatus"/>
            <result column="room_id" property="roomId"/>
            <result column="elder_id" property="elderId"/>
            <result column="elder_name" property="name"/>
        </collection>
    </resultMap>

    <select id="getRoomsByFloorId" resultMap="BaseResultMap">
        select br.id,
               br.code,
               br.sort,
               br.type_id,
               br.type_name,
               br.floor_id,
               bf.name as floor_name,
               brt.price,
               bb.id   as bed_id,
               bb.bed_number,
               bb.bed_status,
               bb.room_id,
               e.id    as elder_id,
               e.name  as elder_name
        from base_room as br
                 left join base_floor as bf on br.floor_id = bf.id
                 left join base_room_type as brt on br.type_id = brt.id
                 left join base_bed as bb on br.id = bb.room_id
                 left join base_elder as e on e.bed_id = bb.id
        where br.floor_id = #{floorId}
        order by br.sort , bed_number asc
    </select>

    <select id="selectRoomByFloorId" resultType="com.silvercommunity.system.domain.Room">
        select *
        from base_room
        where floor_id = #{id}
    </select>
</mapper>